html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

/*Toast position*/

#toast-container {
  position: fixed;
  width: 250px;
}

@media (min-width: 500px) {
  #toast-container.top-left {
    bottom: auto;
    left: 50px;
    right: auto;
    top: 50px;
  }

  #toast-container.top-right {
    bottom: auto;
    left: auto;
    right: 50px;
    top: 50px;
  }

  #toast-container.bottom-left {
    bottom: 50px;
    left: 50px;
    right: auto;
    top: auto;
  }

  #toast-container.bottom-right {
    bottom: 50px;
    left: auto;
    right: 50px;
    top: auto;
  }
}

@media (max-width: 499px) {
  #toast-container.top-right, #toast-container.top-left {
    top: 0;
    left: 0;
    width: 100%;
  }

  #toast-container.top-right .toast, #toast-container.top-left .toast {
    border-radius: 0 0 5px 5px;
  }

  #toast-container.bottom-right, #toast-content.bottom-left {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #toast-container.bottom-right .toast, #toast-container.bottom-left .toast {
    border-radius: 5px 5px 0 0;
  }

  .toast:not(:last-child) {
    display: none;
  }
}

/*Toast*/

.toast {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #dddddd;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  user-select: none;
}

.toast:last-child {
  margin: 0;
}


/*Toast animations*/

@keyframes growFromNothing {
  0%   { margin-top: -100%; }
  100% { margin-top: 0%;    }
}

@keyframes shrinkToNothing {
  0%   { margin-top: 0%;    }
  100% { margin-top: -100%; }
}

@keyframes slideInFromBelow {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0%);   }
}

@keyframes slideInFromAbove {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0);     }
}

@media (min-width: 500px) {
  .top-left .toast:last-child,
  .top-right .toast:last-child {
    /*animation: slideInFromBelow 200ms;*/
  }

  .bottom-left .toast:last-child,
  .bottom-right .toast:last-child {
    /*animation: slideInFromBelow 200ms;*/
    /*transition: margin 200ms;*/
  }

  .bottom-left .toast:last-child::before,
  .bottom-right .toast:last-child::before {
    animation: growFromNothing 200ms;
    content: "";
    display: block;
    margin-top: 0%;
  }

  .toast.remove {
    box-shadow: 0 0 0 0 #dddddd;
    margin: 0;
    opacity: 0;
    transition: box-shadow 200ms, opacity 200ms, margin 200ms;
  }

  .toast.remove::before {
    animation: shrinkToNothing 1s;
    content: "";
    display: block;
    margin-top: -100%;
  }
}

/*Toast content*/

.toast-content {
  cursor: pointer;
  opacity: 0.8;
  padding: 10px;
  word-wrap: break-word;
}

.toast-content:hover {
  opacity: 0.9;
}

.toast-content.red {
  background-color: rgba(204, 0, 0, 1);
  color: white;
}

.toast-content.green {
  background-color: rgba(0,153,0,1);
  color: white;
}

.toast-content.blue {
  background-color: rgba(0,102,255,1);
  color: white;
}

/*Toast text*/

.toast-header {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.toast-body {
  font-size: 0.9em;
  height: calc(100% - 30px);
}

.toast-header:empty, .toast-body:empty {
  display: none;
}
