* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /*background-color: darkgrey;*/
  max-width: 1000px;
  margin: 0 auto;
}

/*Toast position*/

#toast-container {
  position: fixed;
  width: 250px;
}

@media (min-width: 500px) {
  #toast-container.top-left {
    bottom: auto;
    left: 50px;
    right: auto;
    top: 50px;
  }

  #toast-container.top-right {
    bottom: auto;
    left: auto;
    right: 50px;
    top: 50px;
  }

  #toast-container.bottom-left {
    bottom: 50px;
    left: 50px;
    right: auto;
    top: auto;
  }

  #toast-container.bottom-right {
    bottom: 50px;
    left: auto;
    right: 50px;
    top: auto;
  }

  .toast {
    animation: fadeInFromBelow 200ms;
  }
}

@media (max-width: 499px) {
  #toast-container.top-right, #toast-container.top-left {
    top: 0;
    left: 0;
    width: 100%;
  }

  #toast-container.top-right .toast, #toast-container.top-left .toast {
    border-radius: 0 0 5px 5px;
  }

  #toast-container.bottom-right, #toast-content.bottom-left {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #toast-container.bottom-right .toast, #toast-container.bottom-left .toast {
    border-radius: 5px 5px 0 0;
  }

  .toast:not(:last-child) {
    display: none;
  }
}


/*Animations*/

@keyframes fadeInFromBelow {
  0%   { opacity: 0; transform: translateY(100%); }
  100%  { opacity: 0.8; transform: translateY(0); }
}

/*Toast*/

.toast {
  animation: fadeInFromBelow 200ms;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #dddddd;
  margin-bottom: 10px;
  overflow: hidden;
  user-select: none;
  transition: all 200ms;
}

.toast.remove {
  opacity: 0;
}

.toast:last-child {
  margin: 0;
}

/*Toast content*/

.toast-content {
  cursor: pointer;
  opacity: 0.8;
  padding: 10px;
  word-wrap: break-word;
}

.toast-content:hover {
  opacity: 0.9;
}

.toast-content.red {
  background-color: rgba(204, 0, 0, 1);
  color: white;
}

.toast-content.green {
  background-color: rgba(0,153,0,1);
  color: white;
}

.toast-content.blue {
  background-color: rgba(0,102,255,1);
  color: white;
}

/*Toast text*/

.toast-header {
  font-size: 1.2em;
  line-height: 30px;
  min-height: 30px;
}

.toast-body {
  font-size: 0.9em;
  height: calc(100% - 30px);
}
